.js .navegacao{
  position: relative;
}

@media screen and (max-width:700px) {
 
  .js .menu-hamburgue{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: var(--corPrimaria-2);
    z-index: 60;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 5px;
  }
  
  .js .menu-hamburgue span{
    width: 20px;
    height: 3px;
    background: var(--cor-11);
    display: block;
  }

  .js #menu-mobile{
    position: absolute;
    inset: 0;
    background: var(--cor-9);
    z-index: 50;
    width: 300px;
    height: 300px;
    display: none;
    list-style: none;
    padding-top: 80px;
    border-radius:0 5px;
    box-shadow: -4px 4px 5px rgba(5,5,5,.5);
  }

  .js #menu-mobile a{
    padding: 0 20px 20px;
    color: var(--cor-0);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .js #menu-mobile a::after{
    display: none;
  }

  .js .navegacao.ativo #menu-mobile{
    display: block;
    animation: show-down .3s forwards;
  }

  .span1.ativo{
    animation: menuSpan1 .3s forwards;
  }
  .span2.ativo{
    animation: menuSpan2 .3s forwards;
  }
  .span3.ativo{
    animation: menuSpan3 .3s forwards;
  }

  .span1.removido{
    animation: menuSpan1Removido .3s forwards;
  }
  .span2.removido{
    animation: menuSpan2Removido .3s forwards;
  }
  .span3.removido{
    animation: menuSpan3Removido .3s forwards;
  }

  @keyframes animaMenu {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  @keyframes menuSpan1 {
    from{
      transform:translateY(0px) rotate(0deg);
    }
    to{
      transform: translateY(6px) rotate(45deg);
    }
  }
  @keyframes menuSpan2 {
    from{
      transform:translateY(0px) rotate(0deg);
    }
    to{
      transform: translateY(-6px) rotate(-45deg);
    }
  }
  @keyframes menuSpan3 {
    from{
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }

  @keyframes menuSpan1Removido {
    from{
      transform:translateY(6px) rotate(45deg);
    }
    to{
      transform: translateY(0px) rotate(0deg);
    }
  }
  @keyframes menuSpan2Removido {
    from{
      transform:translateY(-6px) rotate(-45deg);
    }
    to{
      transform: translateY(0px) rotate(0deg);
    }
  }
  @keyframes menuSpan3Removido {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
}

