.bg-sobre{
  background: var(--cor-0);
  height: 800px;
}

.sobre{
  margin-bottom: 120px;
}

.sobre p{
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: center;
  text-wrap: balance;
  color: var(--cor-10);
}

@media screen and (max-width:768px) {
  .bg-sobre{
  height: max-content;
}

.sobre{
  padding: 0 20px;
  margin-bottom: 60px;
}

.sobre p{
  font-size: 1.1rem;
  line-height: 1.7;
}
  
}