:root{
  --cor-0:#fff;
  --cor-1:#F7F7F7;
  --cor-2:#EDEDED;
  --cor-3:#DEDEDE;
  --cor-4:#ccc;
  --cor-5:#B2B2B2;
  --cor-6:#9C9C9C;
  --cor-7:#717171;
  --cor-8:#595959;
  --cor-9:#404040;
  --cor-10:#2E2E2E;
  --cor-11:#111111;
  --cor-12:#000000;

  --corPrimaria-1:#FFBB00;
  --corPrimaria-2:#E4A30B;
  --corPrimaria-3:#A66F00;
  --corPrimaria-4:#664400;
  --corPrimaria-5:#332200;
}